@model List<DataAccessLayer.Models.Product>

@{
    Layout = "~/Views/Master.cshtml";
    ViewData["Title"] = "Home Page";
    var listSubCate = Model as List<DataAccessLayer.Models.Product>;
}



@* <div>
    <h2>Product List</h2>
    <ul>
        @foreach (var product in Model)
        {
            <li>@product.Size - @product.Color</li>
        }
    </ul>
</div>
 *@



<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/images/bg/4.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
    </div>
</div>


<section class="htc__product__area shop__page ptb--130 bg__white">
    <div class="container">
        <div class="htc__product__container">

            <div class="row">
                <div class="col-md-12">
                    <div class="filter__menu__container">
                        <div class="product__menu">

                            @if (listSubCate != null)
                            {
                                foreach (var l in listSubCate)
                                {
                                   @*  if (subCate != null && l.SubCategoryId == subCate.SubCategoryId)
                                    {
                                        <a style="color: red; font-size: 17px; margin-right:25px">@l.Size</a>
                                    }
                                    else
                                    { *@
                                        <a asp-controller="Product" asp-action="Index" asp-route-id="@l.Id" style="font-size: 17px; margin-right:25px">@l.Color</a>
                                   @*  } *@
                                }
                            }

                        </div>
                        <div class="dropdown">
                            <button style="color: red" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Tìm kiếm theo giá
                            </button>
                            <ul class="dropdown-menu">
                                <li><a asp-route-mode="1" asp-route-id="@ViewData["id"]" asp-controller="Product" class="dropdown-item">Giá: Giá thấp đến cao</a></li>
                                <li><a asp-route-mode="2" asp-route-id="@ViewData["id"]" asp-controller="Product" class="dropdown-item">Giá: giá cao đến thấp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row product__list">



                @foreach (var l in listSubCate)
                {
                    <div class="col-md-4 single__pro col-lg-3 col-sm-12 cat--4">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="/Product/DetailProduct?id=@l.Id">
                                        <img src="@l.Color" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a asp-controller="Product" asp-action="DetailProduct" asp-route-id="@l.Id" title="View" class="quick-view modal-view detail-link"><span class="ti-eye"></span></a></li>
                                        <li> <a data-bs-toggle="tooltip" title="Add To Wishlist" class="add-to-cart scroll-link" asp-route-id="@l.Id" asp-action="AddWishList" asp-controller="Product"><span class="ti-heart"></span></a></li>
                                    </ul>
                                </div>


                            </div>
                            <div class="product__details">
                                <h2><a asp-controller="Product" asp-action="DetailProduct" asp-route-id="@l.Id">@l.Color</a></h2>
                                <ul class="product__price">
                                   @*  @if (l.IsAvailble == false)
                                    {
                                        <li style="padding-left: 0px" class="new__price">Hết hàng</li>
                                    }
                                    else
                                    {
                                        if (l.Discount == 0)
                                        { *@
@*                                             <li style="padding-left: 0px" class="new__price">@(l.ProductPrice - l.Discount).000vnd</li>
 *@                      @*                   } *@
                                     @*    else
                                        { *@
                                            <li class="old__price">@(l.Color).000vnd</li>
                    @*                         <li class="new__price">@(l.ProductPrice - l.Discount).000vnd</li>
                                        } *@
                                @*     } *@
                                </ul>
                            </div>
                        </div>
                    </div>
                }


            </div>
            <div class="row mt--60">
                <div class="col-md-12">
                    <div class="htc__loadmore__btn">
                        <a href="#">load more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var links = document.querySelectorAll(".scroll-link");
    for (var i = 0; i < links.length; i++) {
        links[i].addEventListener("click", function (event) {
            event.preventDefault();
            var scrollPos = window.scrollY;
            localStorage.setItem("scrollPos", scrollPos);
            window.location.href = this.href;
        });
    }

    window.onload = function () {
        var scrollPos = localStorage.getItem("scrollPos");
        if (scrollPos) {
            window.scrollTo({ top: scrollPos, behavior: 'auto' });
            localStorage.removeItem("scrollPos");
        }
    };
</script>